.mainCart {
    display: grid;
    width: 100vw;
    height: 1575px;
    color: white;
    background-color: rgb(101, 211, 255);
    display: grid;

}
.background2Cart{
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUTExMWFhUWGRkbGRgYGRoaHRsZHRoaHRgbFxgYICggHR0lGxoYITEhJSkrLi4uGh8zODMtNygtLisBCgoKDg0OGxAQGi0lHyUuLS0tLS0tLS0tLS0tNy0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIALEBHAMBIgACEQEDEQH/xAAbAAACAgMBAAAAAAAAAAAAAAAEBQMGAAECB//EAEwQAAECAwQFCQILBwMDBAMAAAECEQADIQQSMUEFUWFxgQYTIpGhscHR8DLhBxQjJDNCQ3KSsvFSYmNzgqLCNFOzo8PSNYOT8hUlVP/EABkBAQEBAQEBAAAAAAAAAAAAAAMCAQQABf/EACgRAAIBAwMEAQQDAAAAAAAAAAABAhEhMQMyQSJCUfCBEkNhcSMz0f/aAAwDAQACEQMRAD8A86siXSotke6NrLht3rtjLL7PX4RIpNeHlHA8n01g7SvoJGw/4P8Al7IjspeWNzVja1dFP3Vv1pfxjdmIuJOTJjHgpZOCkV3ecEWJIcZVaI2ckwRJl4Pv8Yx4NWTXKOV0kHIS5bbaDzgvRU1IUnW8ZyiQrolIZKkSgdxZq68I4tEkoIIOe2Jd4pHlaTY2tI6JUAar8QKkbO+F8q2nnHVSiaZU2jVA/wAfUEgHNRL54vvjldqBmEn2S4pqqPMxMYUyVKYbpJLWlJzK5j8VnDtrthuHUghqvvqxhfbJPziQCx6SicqhRr1xY5KQxApVPXwiJvBsSFNiUlnIADUG1/OJpKSFnHAePgIMUKMM2Lfr1wOmURjnB1qahN8JqDziCMkSe8+XfDDRKFpxowDEj7ux9ddkC/CQplowrLkjaxUrA74MtlpAISSEhTJFacTwaFltSIRFbbMhZD+0FEvxwcRPbLMgEClWDZsyW6jE4kIYEDHPa1BwrEtulXiMMCe73wDlcRFZ5YSQLJ0RW8Se0D1thVoBI+LSzmX4YYQ+5buixMc1EdZJhRydl/NpRL1DY50jpi/4/kN7/gPsdjCq7co2pPN3QdQpxDQT8XLFsHB7M4XTJC7zsaN67IlXZTsPdDGk2tOZXnWqVRQ9ETEptiysHAMzUL7aDVFks8uYgkkFghb4YXVM8VnQZlm1rMwEpAFBnWLiumREnde+S2zrVLySSdZVs1DGF9s0kpZqcHag8n64Onz5TF0F2oBuaoeFZcrYJKQXqaZ4vq2boiMV4FbZuwrN5Rb6kwmn7h1n1TdAXJpMq/audURSWzYnozH8Ia2SzNff/bmUf+GT5dcDciLMlU60lgprgSDXFMzI7hCNr6W/chUf1L3gGtCJapyUygwreUpZSG6trZQTIsKAosLubJNOF6odhDK06NN8lKw4BPspcHDV0TuhdI0aUkl1qL5knVGfUmrMr6WuBokOiYmjMG384gB8s4V8kU9K0p/iobgCO6D5LhK8ARLf/qor61wByQrMtVC5Wnu74lbJGy3xLda5SEy1EC8oFWJLUKgX6mpCrSVpWki8kAgUALtUZ+6GU9JuEMSzv1nftfjEFtkuAopwIfrByxwMBGlbiPBBakn4usa5Yf8A+VHnFGsCKzKfXP5Ux6DbU/ITDlcRXctJii6LS/O/zD+VMdGk+lhai6kCSKgtt8IIIHUP8YEkKp1d4g20Y8fCGlkGODNISyEy2qWU42dEd8c2KUebFMh1VjsB7rjX1dCkEWFHQQGbo7W1xLdIlxVZVIkS69XrsgmTKBx79hiICp49zQfZ5JIDa2w3xMmWkMNOJBlPQEJkgU+6eDEAcYKtdnF0c4lgNT5nvrAHKbo3AnC5LcbGpXe0MrRNTMSlLkCleNHpAywio8ia0aLksDzmGIocw+Gx+yFls0eOkZarwAo9DlRsyHh1bE9AlJJKVLDB33tuhPapamvJdg/BvGFg35Dml4HM6V84kgmoVNw2KVnmYsMvE63B6oroSROs6cCOcB2ElYxeleMWKz+0CcG6/TCB1BIhySKCj4Y12RFaEEbatwr4RJMS6dRGeplP63Ru0KBOpiK9cQYIPhJT0pYOcuU34lwVOsxmUIC2NSRn0mamLwP8JQJXKBIbm5LfjVDSVMIo2NcMDQvweFeEQidaWoPWOuNaRWwS5anbv4RpS1KVU4geOfXEekcJdXJ2nWf06oHkRYK9y5SpVmr7IX23S/fAGgZV6zSxkE68a6uqsNuWbmxEapj7hcbwhNoKc9nlh/qht7nyjpj/AF/JHeFyioXq0OO6JJFrL44nU+wUjFIFwh2oO+sR2OzZnZ34RjoUqh2ipl4zwa/IzOsJURjtil6JI+NzCUvRwBTEvvi76Hno+WAFeamP+AxRLEn51NYEdEYZfpF6eJB6mV+/9LolcoAEuDTMq67uFct8J7ZagZgIK113Z0AGVInQEBrxoNR+9q27ICVPBWMqswSzCooImMbltjOyAnnE83d+TW71PsHCrCB+Qst5tqrhzbt92a8MLFKQCsuR0JlHDsxFRkGgDkci7PtQBDgy82LkTMOvfHm+mXvJ6l0OZixfLpGp2II6Th3xgZdVMzudwy27INtFmUFqN5w9RtAfGBkAFSgRXI46z3V4QSaEIZci8JuXyYGOfOyz1tSAOSEqYDawks0xD4YthwrDSwyqTekBQBzg4my6mAeS4CJlqSztOQ2dAkkuSeuEr0NBtdSY/tFhmoSokXlEk9+0YVgOdJUw6ZJIJL9GgBYjbVq6of6RtAKHDBgeFCzdYMIJiQpRBBALOxD5ULwEW+RSdcx5MxL1EtGVPbRSsUzQyH52rfKq1akxdbWtPMrAHSKU9V4EB+Bpuip8nZQInP8A7yvyph4bWHLchJZUONxAgi1L7z4RqzyugCNfhEVpJf1sjoywMRC6FCf6u9HvgyzpeWgH9jDaCRAUlPRD09r/ABPnDGTWWhjUBu+IkXAjlJqK0PnBsssAQ+Xf74jkSnIbJoKkA9EZHHgBByYiRFyhmhaUlm9hLbmNdtTE8hZC3BcCuOWMR8oV3egQD9GXz9kEcA5EPp6JalhTEEe1Xe/ZEydIoyOSGVMSskjJWePsjMnV3xnxdC1JanRAUBmXLuNeETzbMkhyzPtpQMOL9kL7fYygi4oiYXJCqggMS3WDwglctnMx1WmS4remH+9eEO7KOmnMe6mGTRX7SSLRIH1r0zZitQLGLBY0dMaur6pipkrAesOKDHsgS1ukCuJ8MoMVg+AbsYRDpKX0UV9NEowQ/CApzKNXKZdNl5WGyHSJou3W6xq1HYGpCf4QaKlV+pKzH7a8obybQ4upF5G0E5gEjCLeESdWdy5egFH1edYF0gq6El6hqcGPfDScAlBAao8QARqFezbCeYtJSVMWo3E6sqQfIiwIeU81Rs80VYKQ/wCBVN7kGFmgSOYRrYHtMOOUc5PxZYGJLqfVdVht6I4QPycsd6zS2zT/AJHDtjpT6A6dYXJQ6K5gd9YkRZaOaOwDV416oIlDWAeizcRxjal1CQG2Dt8YNlm9D2YJTPIx5ua34a98UrQlkUu2TUAAuAHOHtAAnjF4lSi03Vzc0F6/Zq9cYqGhZ1y2TiMkAU+8DQiEg3R08ESV1Xz/AKWU6ODs2RZmfVTHI5QuXZEoU4LnGgwq3j2GHEi1gjopZV0sdrBj1QrtYuKVfpQdEYk9F31QUW8MV0J7Km4VksPk5pO3oEu+6F/ImYOetb0J5rrN5+04Qys0w84on/bmPwlnLrgXkOhK7RbSAkpCpbOHYOvyBhO1+8hvKDJs4FSiFEKprZWRprgiQKkDIjwp1CJdIyQAAEpxTk2JJAoNe3POB7IqpJOPClWw3wWUJUFkhkzz+6NePOym7ID5ETAV2gEv8qg8QMTuxhjIlESZozKT/wAss4mAeRcoJVakqak5NcatgN/uhexhvciwWokJPRYlwNeb5mOLjqQbwBbBsdUb00oouqCXwqN1R11rtjchAUtJF4Fnq7D90ZfrHPxUZBGlpIEhR/ZQKZHpyw7dYijcnFsmd/OVq/ZTri5aVlKImXiyAhIxxJVLoR2RR+T6iBNqB8qrE7E7IfT2MGWUSypACQls+8CF60B+PlHRRMvahUEmm4xxaJj19YGFirkyaoMEsUpSP3v8awbouUCi7xc7D74C0VLe6qv1sOHfDbRIcDWb3Ze8ojUsioXucyk9LU7ePrhGTZl17gdwAG2s7RPZJIUoPs7qQUiXgAwOvg2cE2IkI9JTlKSecpdugDXRJHfFmmSheAOZ8W8oQaakgFYo7oIoKgs7bmEPtJuM89e3dsPVFanFCIm7RZjdBBuvrdPYdogOwoJN1Ux1BTYhTJKD4wcq0KmhMteOwY1bPfhClMxKJ15N8NUihdknDyg4p0aKZNbEEWyWEs9+Zl+8vHdSG17pI2AY7oTWsvbZJ1rW2Oale6G7i8KGgxwOAHnFSMQ2QQRw7WEc6RBKE8MsKAeMDWeYWLVx92+g7IMQq9L6x2bIgwrHwi+1KfKVL678z1whxYQAAU1FWpQgsz5ZQo+EwsuUP4cv/kXDKw2ppYzwAoO/ecNkI9qJQbbrQQg36lQYdp7oUT19FhhlV9m+GOl1ggMzXTvGOvWIU2CQm6Sql3LWQ568IP8AIiAOVMsiyqUc1FIwP2agOHrXHfJSZ80k7lD+73xFywtD2Up1LFdboUW4eJjXJNB+KynFOkRTb7of7fyH3lgTZGTeJo2vUzQtlkKW4yf161Q7moJlVxIw2j9YUaOQyq5HdlThjEIoMLtPSkYypjt/LMUjQKOcts4Xac27VwChWL9YpwUq0hqCTNA/AfGKDoVCvjk4OxMsAnDEpodkXDa/fBLyvfJckpSkXlIS6QS2t0khmq1OyK9pKZUsGNevX2RYZ6EupOJdtZIALHqhHpJAvUSQ75YAEnicPRg9PIk8BGjAXL/sTG/+MvwEQfB+r5a2Ng8qp2JmMOPhBWj5QCSs/wC0sBzrQcdbk684g+DspM61u9TLx3Lr2iE7Ze8kPKHFrYnolmUOiNm/qiCRKZJJowNd90d57IOtyaPR3VhuphAipbyiCTXGorXL3wSYhH9lMAwKQ26/LbCEfJMnnLQmpBmJyf6tMNhhzOX8mtDYoB/6iaNwHbAPIQMu0pJYc6H/AA1w2Qq2MOW5D+0yAlLlLgE0Y0qXy1GOJaaipGGOoDVsfsaJbUkpClBRYqfM9jwFalqUv2wwSwcnpBu/CASFqS8oJwVZ5yXqESzXGq0kOddIp/JySVJmm6PpVPXO6l8NsXNaFFM2+i6yE4E4X0DE7HMUrk9KKhONfplZbEw8NjQUtyF1otCi5PpgPIREDSvr08NZltBSAQFVxI14iI5UpBNRTzeGUqLATjV5OpMy5KvnIqbe1IacnLW6ZVAcc2/bfviPSGjUmypY0vud10mK9KthQM6PwrENKasWn9DuXuUkAs/ssOALQPOs5vOFXTR6OCQc9rQs0ZaFTOlW6c/0h2U1TQ5cXjnkqMZXQo05IVmXISgk7mfuiwzekhldKh31Vlnl2wm5W9G4czLQDq9pWHADqh8Vm4N2DjHYSaxs8ImOSGVJCV3kpNQmtTQNRjm7mkCT5XyqFVxY8QwFYYfG0lBKQT0HwatBnsgO2IUogqIcFBdi7kpHi0RFutygLTBItaGymTBSv1lND2U92oBN0Ufc8I9Jyz8bl1DmZMB1+0pzvr3Q5mWQAhypiMthHVjFzIR3LmuE3RXPWBi/b2Qws4F1WulNWL98C2aWEjoYlttDXwjLNNxfMB9sQaxP8KJ6coP9lK7Vrg+yEkPkVZDaCTSAPhRDzJP8mUf75kMLDOCUkkij16sBhkYSe1ERB9KTBzpAq1Dwf3xuym8i6BVstuxthgORLvLKjmYP0dKS6i5B1Bi/ZEMRIV8ppT2VT0Z1GuLS10G3ZG+R6nsskaiR1lX69Ud8opHzRRdlFSuIuLCRqd67WiLkefm0pRpj2EjvaF+38kdxZ7OgFgaYt7+FYDMkuSKP5B4NsqTeOquR4QPJHTzz7gD25wZqNWGQoG0FgBzM3cSERSeTMsTbbaAot0HpsUnXqHcY9GlKvItB1SZv5OuPNuQqL9tmuaXA52Xg8LDZJ+8EN3Xvkt6NFvMBCnGxVWZmpv2QLpxQlm4BtLl8RX1shwSL1MHIZjmaVfY0IdJyBzjEuVHF3o2PrKDjd3EdsG5VxSFG6S0tZFaOJauuAvg6WEzLY9Po9WIC6V2+MNbFJeWvICXNbX9GqAOQguzLcdQknXgFefZCLY0RLchra1BVwttq1KnERFPQ6Uklqu24xLNmO1GDCmxjnvrGW9CmQl6Y5ZEeHjBoQ1a09FV0YoFf60/pxMJeRMi9MtLEuJoqKfVBr1dsNpkpdyZhRI7VoAw3vCzkSq5NtJT7ImjiLuXARWIMl7kWTSkkKCkk4kFsNTNhnehdOSkLAr0QoBqj2RhrEMbYhExd4kuFpADmoDQCspKgLwJ6WZqMyeJ7YKLLJ7coJlTlPQIS4LZzEAYbSMnjznRNoWOcu4c4o56hHo2lrSlMicaFNyXgQftZfnHnmg55AmN/uK7kx06S6GDN9SOjLf1r/WJlIrqx7IyWlxTX5+UdrSe+KbMSDxPX8VASASJiqHMXa8Yrk5aiC4ASCWpmVVMP7GCJP9Ry9ahAdpDyki9iVFj95We5uuMi6M3KI7Da5iAhQDgg3g2LFn2GHdk0pMWoAS1AUqBuzMC6HWoBKb3RD++HqFpGODBuG2D1Gq4EjXyJuU85SzLvBiEJpsCl+cW1NnJcOGbtLUoNoiu8ppI6Kg9ZMvY9ZnlD3mw1BXYTiww8t8RN2R6KuwSdaEghKg7hyTQDBsDGTpgJlAYkpYiocdKuwXe6B7JdViXICsiS2BgO03CpISGJIY4H2TURKRTC7fM+fSkqb6VZrSt5Q8+uHMieCEvVwBTsPXFX0kWt0s1UedUDXF1F4schFUB2upIba48O+KmiExhLAAvbH4B6d0BTJovktj3fpDBaHAfMkd+PHuhVpJICAUu4Ne+vbERyaxb8J6wVSCCGMmUP+pMxgqyS0qSb6gMHq+/PfCflzNvJsyqkXUDVhNmAfrDWVOASEJqoU3kU1Y0MNPaiIh1msyCFAK3HUcIDlJuk1Ieg3cNsSSLOspvJGvi3f7oGSslTVAAFcc8u/jAinHK9ATZUlJpfy2S149piLkev5rL23uxUc8qgBZ2Bd1OHBFLqrzU2NHXJBI+JoLVAPat/Pshvt/IXcXCyqcE/WY90L1AFTuwc9eWEMLGTdrjr2cd0KZs8uwwfxAg6GoPZk2gA4yJj/gjz/kSoS7ZOIBI5vxFBvwj0QSzzU8nHmJh/sPvjzvkekG1zwQ/QFNt6nGFjsfvgnle+S7T7W6UAMGIOJLV7M+vZCS1SSDnU9gYd/dD1dnQUgsQXeuwly2wNTfCyegEucHLDYD6qYiNCmc2FSkvSgRMKt1xVA2yF3Igsu2v/AARXXdX3Q5sMghCyT9SbT+hfu64R8jQ6raLxBKpYYB39p8YtbWY8odTllSiA9C2WtolnzTeQ4D3Q5yqIGtNoZwHaldZcnypHc+aQSnEgNxYRFC6nVqnvImtUsl/xo8xFa5Ez6zyQ/wAonDYkQ5mzAETKBroemDKQ3+MKuRUkvPao50PXWgPwrCJJQZD3IsSiljMSOlePtPlxgWyzpgnKC2Zjdw2O3UIbWi8UFwCkElsMTV9uWMC2oXVIUkbC+b6id8AmKB8orP8AM7SEoAJTLwavykrPrjzTR9qUgKAP1j3CPUNMTFcxaDdI6Epqgg/KSi9MIoGhvZX0X+UVmNQ1x16LpBnPqRrNDCUWHHzjZNY6tBCUhtfcS3eYiQbx3P3xP5L/AAM0j5AanL9pgaxyAtAGonvjchZKQl36RoC2Mb0Uo0GsdxiXVIpZJpUpjSmPY8GSk3mBNAS/hAyFPx8f1iewTAHBGMRI1G+VlOaAf6BH55mMWGzyBcLl2Pga0OrwhByvmn5FgzyU4femd1YZWC2MCcs2bB8m3d8TLajEciWTdZ8C/YwbHXC+2pEtIWekUqSQGbDIaqRNZrcAqhBTrriXZyTTVsjjSgBlgjaNZcpVm+6JjWpbwAaXmNbk1+1Vg+ujAGmHbFmswqlX7o8Ip+lJ5+OgkVE18K0c9TxZ0zypeDAJ3NQU7+qE1FgOLG/Ohql+kcPWoGBpoSXQc2btPl6ERaNmAuHd3LZVFYJXLoWxcFvXEQVKMrgrXK6SUiWlQwQCk4u8yYRvp1RabXJdV5BAIYMAGOVdrA++EHwiKZVmAoDLl0r+3MAwgmXaCpXRJ1kb9fbFzTojIjmz0ScgxOW16a4XpsKUqCU/sjFzi1fGNTtKBNCKnujm029xjUDAFtUEkxBdy5Un4tKut7ahwuKGEa5HzEpsstOZST/cryML+VEy9Jfa/ZlBXJoD4tJ1lChu6Zxjop/GkD3stUkVdziGHYfHrgS2IZQamfbBejxgRjdHeX8YjUCpWRALdUGaMJZ+SnOPsJn5VR55yLWBbp5/cGJ27Y9HUOhNOXxebhqCS0eack5AmWycK+ymn9QHuhYbX74J59/JdbVN6JBOIyOAqe9uqFtqSpR6ODnvy2tDeXowEgq+sSwG4Bhsq0RaRsZCS2Qy2/8A2fjEJooisaSAsKILImO25VBwircmZqgu1tR1Su0TOODxZpEpIC2JomY2qiau214r/JWWDNtgJArK/LM84qO1nnkMUgvXYdrNRonmpxI1nvx7BEyaKSLzkkdVR4jqge0T2vGlaDtr4x6tTxwgApWMcyMvbQyXGT0gPkMi8LURjzxG36MxOhbJV0hXH8aB5RDyHQQLUH+2q2PsVaNe1mcosSl+0lujhRywcEeT7ogtMpkJepFQdgDjDEnV7oFtnPINS4LEAtTJ8e+Ni130s3HV0WGBwocoGnIqCtL3eYnACpQk/wDUle7sil8k0p5ua4J+VVq1J1xddIVlTU0+jGYr05Zy3RW+Q6AZU5z9uvXqRqMNF002E11ITaRDFtpPYIGQrx8IntqrygfWXkIHlpNN3nCxwRLIdZHCCp2qfE06omspaWhjr7yD5wPKDSVH95uxXrhBVnX0EvkVfmPgYmRcQqTiBhh4CJbIsXgMaevKILOoVL6vP1uiSyjpetcEy0F8qy4lq1ykgGn+5M45Hrg8FICnBGPsh86eML+UyAebepEgEYN7cz3w6lpIJcNn+vZEvajyF9jAvOEsDXDj10NN0Q26gUCcGbDNxiN8EzrSpBSzZ69RfDHOA7fMvyVlsg34h2RMclSwItOE/wD5FYdvliKYszYdcP5c1SbygWwbgNsV3SaW0ipzhNVXY8P+bJSKj2ifHw7YfU4B0+TfPFK0gUc8WziyWCdeQ5xI8yO89cUqeg3gXYguDFysbXEVBpStPVYOSRYj+Es9OzbJMun9cz1wjaOjXN2fZ+tIh+Eai5Af7GVTZfX4tE1wlwPRbzIJjZbUZAimzTM9ouxx2Db6xgNSHPRqc325QEZq0zVpKSyc8mLEVwOIhtLdIFWq5pnrrHqUKrUV6elqEkhWst1GnWDDfknLJs8g/uqH91IH5SzSZCSQ4vmuL9GtPCDuSX+lkHIJUP7opvoIp1D6wrSA9T0QRlsNI5XKYgpOKv8AyxjNHqvMNh7m74nmKbKl6u+vrjBM1ZGC6ImtjzE1/wAJjzfkKv59OOtCT1KTHo8taTLnMcLPOp/SfMR5fyKTets1iR0B1OIWC6H74I59/J6VMnAFNX6sa58OwQFpS3ISlgnE0OVGem9oIVZ0gkNgwBcO7eYOULdJJAJSGGNNxp4njBKhZBZVuJpTX5OYxP3AHhHyVWpM61jGqHfYF9peH8kG7NSGDy17PqU8eqKtoAtMtT1N6XnmyqPqxrCrDPMfSVspIOPoePZECpwKklT5U20Pj3xyTeKTVm119O5iQodIcZ9VEnsMePEc9SBLdi7h9Q6YNW1nvED8h54CrS5ZRmvjqQPOJZSlc2pIr0cNfSBHCkCchhW0O1JrtX9kYHew6o1rpZnci06VnG6GZnNVUwqH7eyE0q1qLJozvXMvvoNkPTJvS1OnBSgDjrZ6Y4GFklCOj7QIburAxoIE6SmgJmhIY3C+P+4gFq4RUeR9/m5t0sOeX3Ji46cmhUqaUubozDM8xLtFJ5Ly1XJrH7VWT5J2QsdjIe5EdrRhhw4e+IJDAAnAgeMDWyYeiXct3GOJMpRcbMYRRtklyvZDWYgCz3gQQVsPwr1boyyzAZScHc9bnzEDSJSkyVOWSZgbfzc192US6MX8mknJz2n3dcZJWNi7jeyszUz7L0dpLzAGbDLr7oBs01ndv1BOuCLNPJWDTEd22CkhEEcrcZR/hDh8pM98OpaibwvEULDWSWU/Z1Qj5TLBTJJNeabjzs7yh6j2yMNna0TPajFlgtxwUg66bgdmuEzLMtbk0o9aQ9CenRjjRtmY1QtmrEvogPevk5AdIitNRiYMporGmVq+PLB9rnFPvh9ZFuSNQ9etsI9PBtIzB/F8AYd6OlPXXHTq4QGmTaX0ctCL6QSAATsx7I1I04DIkpQqqlEENUNrp+vXFi0tN6ILPdYsMw+BfHEU2RUbJoi7aE2hKeiFAXSWbVQYihLVrAwaauI062HXLkJWJBU14WeU34l9jxHpSYEzClFADluy64D5dWhRMkFnCJYDUdIWoh9VD3RlllX1h9YjaWTZq8DGzaSCKGWCWAPDPqaMVfXeWGZ2u/eDdQeJTZE1UaUoBQivbDWzJSUXQGSRjmw1cBAuSV0XQqXKhCkWVAUm6b5psulvGOuTE75rLAehPeqDuXllSiwSSCp+cVidhPjAHI1PzZJ1v+b9Y6ft1/ICfWWjQ8piHwII8RBNsmVAGDu/H3wPYprkJZtezo5DXG7Qq6oXmYUpn17oIoPsibsuc3/8078pf1sjzvkN/rJxy5sbPrDyj0SwzHlztXxecP7D5R5xyIT86nbJaT/cIRf1y98E9y98l+tszpm6LpSHUdt0sH2GAVSjU444vje3bDDNRBObnXx8Y7mKTqZLDjU+uMCnQsXTJLJm7JUz8nl3xVeTYJn2xKQ7qQ5yoF68qxb1KeXODVMiZt+p2xVORQHPW1sHQzf15QkH0N+8GPKDbQDKZwSWp1EDseOraeinHPXu74zSCgF3Xcs3fTu7YGtlsSboSmtQSdT5b4tXoeJJsu6jaUA4kn2x2NC3khIJNoYsecFH2JOETWm0MkgYlKety+HdXDjHfwfu1qr9oK7Skt2t1RsqqDZnchxPXNShVX6WNduYGLPGrRapnNIUEgMUazgxzHZEmkQoSlG69Tk1KtEcm1rMpACRikVOWZ4VPGAXkQGm28qE8KS19CW2NMJNDrcYYNFS0NMIE2v2qtWyLnbUfJzwzFkAUy5wRQNHTGv1b5RXhHTC8WDJ0aJZs68A7YecTy8aFj74htaEjqzgVB6TkvV+usVSqserR3HFqX81Y48+D/bNz9YwLYkuhG89/bHJmvIb+Kn8syCNGVlganbrIiWqI1XYbJYPjTYdUbkzGL5jB92MdS5LuPLU+qIbOm6S9Xw6w2W2DyLgn06CESK/Zn/mnRYZqOkGU3Hfsiv6XWQiVT7Miv8ANm4GH02YCrAY6zrz7IieEZEjmWsBaRdOLPTIHF4TaUtKUqxHtF9eb0G8Q5mSwTTo9Iaj2nY0JdMABbEB3e9vA64nTpUqdaCrlBNCtIKUMFLB60jzh/o1QSRmB6pxMVW3q+eF/wBs47Aw6qdUPrEogOfW0x0aqsgNPku1xKk1IzqWwyxyiH4xLBCA13M064T2m3gFAGYGbUI17iIHkTcwY5VBjNk3L4hPMMEkmTLFScby8PWUFE1TeuhjljhlshdysWFps4JH0aQ2Y6SjX1lB1uSMsXFP6RFywkZE7Cz9U/tY7DG7LNUzU35jWMPW2MlpxL5wTKlAgOBEWKvQX/CEP/18gnHnFdTfpAHJSc1lQnNld6vIQz5fl9HycPpFdxPhCPkrOCZCXfA/mfGOjOn8grcWjR62KSDUgPni4PZHdqdTEnEnvPbCuy2oXUvgE9xg5amDk4Et4etsHQpjWyIZM66WaROcbLh93bFC5ESz8bnZ9ADFnxEXfR9tBE1OapE4A/0KLYRS+RhItU4jEIR1ufd1xa2P3wT3L3yX1CTeyAY0LVL9eLxuco4vqDNqJGEdqDEFnoa7GUOGfEwPa5yA4Jxpi4G/gctsAWBWxd1M4fwJvWUKy3Dtik8k55TOtBxqin4m8YtSZoVMWGF0y5jV2Kru2Qg5HSQqbbMAxlsfx+mh42gyXuRq32i8smuqsRMXFdWGWHbDqbYEqfea6hSAE2Blg3xicSeqkUpIyjAkSjzhBoEpJNa5YdcE8hZt1VpQx+kBByoGgyzyB84U79AAZ151IAY7BAPIaU6rQRhzgodTR6TrF/B5LqRZ7epRl9FyMKjYTnuiayq+STRhR91Mxx646nA82ct+VK5vthboyesguoUUgsf2Qce+OZXQxvSMwgT2L0lu+srSGfUGii6KQlXOFSQTzitmQyi96UspInliXutuvOKbwYrHJrR3OJmmlJyh2J846YNKLAkqsQ2gv69a45l4+soyZl62xzIXnHRwDyFI+gJ/iJ/LM8oN0XMaWnj+ZUBL/wBN/wC8j8k6BbPbGSAPVTESj9SEjJRLVKUCOqscShidnlAui54NNnvrBKV44nGOdqjodCdUd8olnm5J/hn/AJZsPLXLAJfWdmrzhDyhX8nKOuWRjj8rNixWxYrrcHAauzA9UTPCMjyQc4WLHMY74WaUF5ZTShGGNQXbqhg5YtR6hj2QHpNKb4UogGjHXuiYWkU8Fc0uhCbawxvdLe0O5ZdKQ/tFj74RW6QTb1DMzQHO2LPa0XUoYVB69vaI6NTgHT5AJJF8/ukgdeMMJAGWB9cIWJSb1Kim2D7OrbBstE3KZACJGbygdtFLbx7YOtaTUnZ3e7sgLlSWl2arAyU8TeX5mJLW4qX4boiXBUQ1Jpn6fygZNoVzjKa4A41u0ZZ5lFevWMZJlAiuO0b690Gi2Zy4tHzCVtmqH9qj64xXdCWoiQgHCo6zDnlyW0fIbDnldVyYYr+hS9nSNX/kY64r+NHM31Fls84FLlv1rHYnEpb1gfKMTZxzZyqD+UYZYvGS5ZCbtNbttbxg7FMaaJkjpLKmaVNpSp5tVK9dIqPJOcpNqtLB3QkbukGh1Z7QQtQegRMwwPycyK7ycnj43PoekBh96KS6X74M5Xvkuk5alEP7IwBpe2k4M5gNRclJW4LPUMVNlXAeMRWhaiTU1qR+yNQ4AQGpJFdwArSmHUW/SIiimHWSYOcmXajm1t+FXpoTcmFfLWvLpSn39PDtgmyoVfUKsJcwUdh0VVJbX3wo5Nq+UtTnNHH2oRKzMrdFsWlISpjv418IHEpIIvEYv1xspdJepLeNaRAsurx4wZZySObtLBmAz/jSwG3ws5GzCk2i6kK6f+Iwbw2Q5vX5NqoLxDPuny4T8il0n1AdeZal0Rb2MjuRb7wXK9nBiQWBwcwn0LJN9V4ZjFqlwWHrvhtzpuJOPV+yMOBMCWXEOogg4DaU+UBF2aFaDbQoNMIxBDtsIx3AxTOT1rYTqgPOWexMXOeSlEzAuMdrgCKNycmMmd0Qr5ZdeCYbT2v4CnlCWb5fljiThGRkdXBz8hyP9Of5ifyzITjz7zGoyPR5PTwPtB4wfI9obj3mMjIDUyzp09qNad+jkfy1f8syLb9meH+UZGQGrhFQ5A5f1v6og0z7Kd6fzxkZER3It4Ec7/1Afzv8YZ23z7jGRkPLK/QccEVn9n+ryiVfge8xkZE8mvCJeWHsWL+Sn864K0n7PV3RkZEy4NgbRgree8x0jPd5RkZBrIksAPLj/wBOk/zz+SZCDQP0Sdx8YyMjsj/X8nG95cBgrjG5WB3DvEZGQArBJftq+5N/4pkIOS/+sn/dPfGRkL2v9E8otSPaXuH5kwLZceJ71RkZBIsIkexO/kzfyqip8mvpLR95HeY3GQsNrJnuRZEYK+6IAm+1wMZGRKKYxlfQz93/AHJcVTQf233z+WMjIqOGS8ovNm9nh/2kxHmr73jG4yOXkfgIm+wvejviiaAwm/zl9yYyMjo09r+AJ5R//9k=');
    height: 1470px;
    width:1100px;
    z-index: 900;
    margin-left: 155px;
    /* border: red 10px solid; */
    position: absolute;
    top: 105px;
    border-left: 14px solid #333333;
    border-right: 14px solid #333333;
    background-size: auto;
    /* display: grid;   */
    /* grid-template-columns: 240px 240px 240px; */
    text-align: center;
        
}
.userName {
    height: 60px;
    width: 170px;
    color:  skyblue;
    justify-self: start;
    margin-left: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.2; 
    
}
.cartThing:hover{
    /* color: hotpink; */
    -webkit-filter: hue-rotate(90deg); /* Safari */
    filter: hue-rotate(90deg);
}
.cartHolder{
    width: 45%;
    color: skyblue;


}
.cartIcon {
  width: 45%;
}
.headTitle{
    height: 90px;
    width: 450px;
    font-size: 32px;
    color: white;
    margin-top: 24px;
    letter-spacing: 2px;
}
.cartProducts {
    /* display: grid;
    grid-template-columns: 340px 340px 340px; */
    height: 100px;
    width: auto;
    grid-row-gap: 22px;
    grid-column-gap: 15px;
    margin-left: 160px;
    font-size: 20px;
    letter-spacing: 1px;
}
.bodyCart {
    display: grid;
}
/* .cartPhot {
    height: 10px;
    width: auto;
} */
.header {
    width: 100vw;
    background-color: #333333;
    height: 105px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
}
.prodPicCart {
    height: 250px;
    width: auto;
    background-color: white;
    top: 0;
    justify-self: center;
    /* border: 5px red solid; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    
    }
    .prodGridCart{
        /* display: grid;
        grid-template-columns: 2fr 2fr 2fr; */
        /* grid-template-rows: 1fr 1fr 1fr; */
        justify-items: center;
        margin-left: 265px;
        margin-top: 35px;
        grid-column-gap: 5%;
        grid-row-gap: 35px;
        /* background-color: #4c4c4c; */
        /* border: 3px solid skyblue; */
        width: 80%;
        height: 85%;
    }
    .productsCart{
        background-color: rgba(0, 0, 0, 0.582);
        color: white;
        border: 3px solid black;
        text-transform: capitalize;
        line-height: 1.5;
        margin-left: 0%;
        align-items: center;
        align-content: center;
        box-shadow: 9px 9px 6px rgba(0, 0, 0, 0.623);
        border-radius: 4px;
        /* display: grid;
        grid-template-columns: 1fr 1fr 1fr; */
        text-align: center;
        justify-content: center;
        justify-items: center;
        height: 380px;
        width: 250px;
        font-size: 19px;
        /* grid-template-rows: 1fr 1fr 1fr; */
        
        /* margin-top: 10%; */
   }
.cartGrid {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    margin-left: 40px; 
    margin-top: 0px;
    grid-row-gap: 20px;
}
.cartPhoto {
    margin-top: 15px;
}
.subTotal {
    font-size: 24px;
    box-shadow: 9px 9px 6px rgba(0, 0, 0, 0.623);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.582);
    color: white;
    border: 3px solid black;
    width: 450px;
    height: 140px;
    margin-left: 314px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 35px;
}
.price {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 15px;
}
.back2store {
    margin-left: 10px;
}
.cartButtons {
    margin-left: 10px;
}
